/* Set core root defaults */
html {
    font-size: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html:focus-within {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*::selection {
    background: var(--secondary);
    color: var(--white);
}
::-webkit-scrollbar {
    width: 5px;
    background: red;
}
::-webkit-scrollbar-thumb {
    background: blue;
}

/* Set core body defaults */
body {
    margin: 0;
    padding: 0;
    font-family: var(--sans-serif);
    background: var(--black);
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    color: var(--white);
}

a:hover {
    text-decoration: none;
}
img,
video {
    width: 100%;
}

/* Remove default margin */
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
b,
i,
u,
ul,
ol,
li,
figure,
blockquote,
dl,
dd,
span {
    margin: 0;
    padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Remove default styling of anchor tag */
a {
    text-decoration: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
video {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Adding default styling to a section class*/
.section {
    width: 100%;
    padding: 100px 0;
    background: var(--white);
    position: relative;
    overflow: hidden;
}

/* Remove all animations and transitions for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
