// place global css variables here
:root {
    /* Fonts */
    --sans-serif: "Cabin", sans-serif;

    /* Colors */
    --primary: #060606;
    --secondary: #f6957a;
    --dark: #070332;
    --dark-alt: #6c6c6c;
    --black: #1e1e1e;
    --light: #d1d1d1;
    --light-alt: #f5f4ff;
    --white: #ffffff;

    /* Shadow */
    --shadow: 0px 4px 20px 0px #ccc7ff;
}
